<h1>Notes#show</h1>
<p>Find me in app/views/notes/show.html.erb</p>


<p>
  <strong>Texte :</strong>
  <%= @note.text %>
</p>


<%= link_to 'Modifier', edit_patient_note_path(@note.patient, @note) %> |
<%= link_to 'Retour', patient_notes_path(@note.patient) %>
