<div class="navbar_pwa d-flex justify-content-around align-items-center">
  <div>
      <%= link_to "/patients", class: "navbar-brand" do %>
<i class="fa-solid fa-inbox"></i>
      <% end %>
  </div>
  <div>
     <%= link_to "/patients", class: "navbar-brand" do %>
    <i class="fa-solid fa-users"></i>
    <% end %>
  </div>
  <div>
     <%= link_to "/appointments", class: "navbar-brand" do %>
<i class="fa-solid fa-calendar"></i>
    <% end %>

  </div>
  <div>
    <%= link_to "", class: "navbar-brand" do %>
      <i class="fa-solid fa-file-medical"></i>
      <% end %>
  </div>
  <div>
     <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fa-solid fa-calendar"></i>
          </a>
  </div>
</div>
