<div class="tab-navigation">
  <button class="tab-btn active" data-action="click->tabs#switch" data-tabs-param="notes">
    <i class="fas fa-info-circle"></i>
    <span>Informations</span>
  </button>
  <button class="tab-btn" data-action="click->tabs#switch" data-tabs-param="pathologies">
    <i class="fas fa-heartbeat"></i>
    <span>Pathologies</span>
  </button>
  <button class="tab-btn" data-action="click->tabs#switch" data-tabs-param="consultations">
    <i class="fas fa-calendar-check"></i>
    <span>Rendez-vous</span>
  </button>
  <button class="tab-btn" data-action="click->tabs#switch" data-tabs-param="documents">
    <i class="fas fa-file-medical"></i>
    <span>Documents</span>
  </button>
</div>
