<div class="tab-pane" data-tabs-target="tabpane" data-tab-id="documents">
  <div class="documents-container">
    <%= render 'patients/document_upload', patient: patient %>
    <%= render 'patients/document_list', patient: patient %>
  </div>
</div>
