<div class="container">
  <%= render 'form', patient: @patient %>

<%= link_to "Mes rendez-vous", root_path, class: "btn btn-secondary" %>
<%= link_to "Mes patients", patients_path, class: "btn btn-secondary" %>
</div>
