// .appointment_box {
//   margin: 10px;
// }

.special_padding {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #262626;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.special {
  background-color: #3d3d3d;
  color: white;
}

.pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.brdr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
