.overlay {
  position: fixed;
  z-index: 1002;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $blanc-50;
  backdrop-filter: blur(10px);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  box-sizing: border-box;
  color: $noir-950;
  &.active {
    height: 60vh;
  }
}
.overlay-filter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: backdrop-filter 0.2s;
  &.active {
    backdrop-filter: brightness(0.3);
    z-index: 1001;
  }
  &.hidden {
    backdrop-filter: brightness(1);
  }
}
.form-appointment {
  padding: 20px;
}



.overlay2 {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: $blanc-50;
  backdrop-filter: blur(10px);
  border-radius: 16px 16px 0 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  box-sizing: border-box;
  color: $noir-950;
  &.active {
    height: 60vh;
  }
}
