.patients-index-header {
  display: flex;
  justify-content: flex-start; /* Aligne les éléments à gauche */
  padding: 10px;
  margin-top: 10px;
}

.new-patient-link {
  top: 10px;
  left: 10px;
}

.patients-list {
  margin-top: 20px;
}
