.calendar-container {
  position: fixed;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  // height: 0;
  // background-color: $blanc-50;
  // backdrop-filter: blur(10px);
  // border-radius: 16px 16px 0 0;
  // box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  // transition: all 0.3s ease;
  // box-sizing: border-box;
  // color: $noir-950;
  display: none;
  &.active {
    display: block;
  }

  // width: 95%;
  // margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  // margin-top: 150px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: $blanc-50;
  margin-bottom: 20px;
}

.day-link {
  text-decoration: none;
  color: inherit;
}

.day-name {
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  background: #f5f5f5;
  border-radius: 5px;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  background: #f9f9f9;
  font-size: 14px;
}

.day.today {
  background: $bleu-900;
  color: white;
  font-weight: bold;
}

.empty {
  visibility: hidden;
}
