.container {
  margin: auto;
  padding: 20px;
}

.card {
  background-color: #f2fff2;
  border: 5px solid #23c248;
  border-radius: 12px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
  margin-bottom: 12px;
}
