.dropdown_show {
  background-color: $bleu-700;
  color: $blanc-50;
}

.dropdown_show:hover {
  background-color: $bleu-900;
  color: $bleu-50;
}

.position_plus {
  margin: 10px;
  padding-bottom: 8px;
  color: black;
}

.bluecolor {
  background-color: $bleu-700;
  color: white;
}

.custom-file-upload {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-input-hidden {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.btn-file-custom {
  padding: 6px 12px;
  font-size: 0.875rem;
  background: $bleu-700;
  color: white;
  cursor: pointer;
  border: none;
}

.selected-files {
  font-size: 0.875rem;
  color: #666;
}
