.dropdown_show {
  background-color: $bleu-700;
  color: $blanc-50;
}

.dropdown_show:hover {
  background-color: $bleu-900;
  color: $bleu-50;
}

.position_plus {
  margin: 10px;
  padding-bottom: 8px;
  color: black;
}

.bluecolor {
  background-color: $bleu-700;
}
