<div class="calendar" data-action="click->calendar#close">
  <% 14.times do |hour| %>
    <%= render "appointments/hour", hour: (hour + 6) %>
  <% end %>

  <%= render "appointments/appointments" %>
</div>
