 <div class="calendar" data-controller="time-indicator">
  <% 14.times do |hour| %>
    <%= render "appointments/hour", hour: (hour + 6) %>
  <% end %>

  <%= render "appointments/appointments" %>
    <div data-time-indicator-target="line" class="current-time-indicator"></div>
</div>
