<div class="hour_container">
    <div class="hour">
      <p><%= hour %>h00</p>
    </div>
    <div class="hour-content">
      <div class="half_hour half_hour_top"></div>
      <div class="half_hour"></div>
    </div>
</div>
