<div class="hour_container">
  <div class="time-label">
    <span><%= hour %>:00</span>
  </div>
  <div class="hour-content">
    <div class="half_hour half_hour_top"></div>
    <div class="half_hour"></div>
  </div>
</div>
