<h2><%= @day %></h2>
<div class="calendar">
  <% 14.times do |hour| %>
    <%= render "appointments/hour", hour: (hour + 6) %>
  <% end %>

  <% @appointments.each do |appointment| %>
  <%= link_to appointment_path(appointment), class: "appointment-link no-link-appearance" do %>
    <%= render "appointments/appointment", appointment: appointment %>
²²²<% end %>
  <% end %>
</div>
