<div>
 	<div class="row">
		<div class="col-2">
      <% @appointments.each do |appointment| %>
    <div class="special_padding">
      <p>08:00</p>
    </div>
      <% end %>
		</div>
		<div class="col-10 special">
      <% @appointments.each do |appointment| %>
        <div class="brdr">
          <p><%="#{appointment.patient.first_name} #{appointment.patient.last_name}" %></p>

          <p><strong><%= appointment.reason %></strong></p>
        </div>
      <% end %>
		</div>
	</div>
</div>
