
<%= turbo_frame_tag "new_appointment" do %>
  <h1 class="h3 modal-header">
    New appointment
  </h1>

  <div class="modal-body">
    <%= render "appointments/form", appointment: @appointment %>
  </div>
<% end %>
